
body{
    background-color: aliceblue;
    font-family: Apercu,Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 300;
}
.container{
  padding: 30% 10%;
  color: white;
  text-align: center;
  background-color: #007bff;
  width: 300px;
  height: auto;
  border-radius: 2% 2%;
  display: inline-block;
  box-sizing: content-box;
}
.container h1{
    font-size: 36px;
    margin-bottom: 10px;
    vertical-align: middle;
}
.container p{
    font-size: 18px;
    margin-bottom: 20px;
}
.input-container{
    display: inline-block;
    position: relative;
}
.input-container input{
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 25px;
    width: 200px;
    outline: none;   
}
.input-container button{
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 25px;

    top: 0;
    right: 0;
    position: absolute;
    color:white;
    border: none;
    background-color: #ff3366;


}
.credit-card-info{
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    top: 20;
}
