
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat,Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;

}


a{ text-decoration: none; color: white;}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  border: none;
}
.image2 {
  position: absolute;
  top: 30px;
  left: 30px;
  border:none;
}
.image3{
    position: absolute;
    right: 40px;
    top: 5px;
    padding: 30px;
    margin: 10px;
}
.imagelog{
    position: absolute;
    top: 50px;
    left: 90px;
    border:none;
}
.nav{
    width: 100%;
    position: fixed;
    left:0;
    right: 0;
    margin:0 auto;  
    text-align: center;
    margin-top: 10px;
    top: 50px;
   
    color: white;
}
.nav a{
    padding-inline: 10px;
    top: 30%;
}

.nav button{
    background-color: #23A6F0;
    color: white;
    border-radius:10%;
    border: none;
    width:15%;
    padding: 15px;
    margin: 0%;
    
}


.container{
    color: #fff;
    text-align: center;
    padding: 100px 0;
    align-items: center;
    display: contents;
    margin-top: 15px;
}

.container h1{
    background-color: aqua;
    font-size: 80px;
}

.container-b{
    background-color: rgb(201, 224, 226);
    justify-content:space-around;
    display: flex;  
    text-align: center;    
    outline:none; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 2rem;
}

.container-b1{
    border: 5px solid rgb(240, 227, 227);
    color:white;
    border-radius: 10px;
    background-color: #23A6F0;

}

.image1{
    background-color: rgb(255, 249, 255);
    
}
.container-b2{
    border: 5px solid rgb(240, 227, 227);
    color:white;   
    border-radius: 10px;
}
.container-b3{
    border: 5px solid rgb(240, 227, 227);
    color:white;
    border-radius: 10px;
}